:root {
  --bg: #fff;
  --fg: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222;
    --fg: #ccc;
  }
}

body {
    font-family: Helvetica, sans-serif;
}

body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg);
  color: var(--fg);
}

main {
    max-width: 60em;
}

section {
    padding: 1em 2em;
    margin-bottom: 1em;
}



#guessMe span {
    font-size: 140%;
    margin: 0.25em;
    min-width: 1em;
}

.letterRow {
    max-width: 100vw;
    flex-direction: row;
}

#keyboard {
  max-width: 100vw;
}
