:root {
  --bg: #fff;
  --fg: #000;
  --fg-hit: #040;
  --fg-miss: #400;
  --bg-hit: #3C3;
  --bg-miss: #C33;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222;
    --fg: #ccc;
    --fg-hit: #3C3;
    --fg-miss: #C33;
    --bg-hit: #040;
    --bg-miss: #400;
  }
}

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

* {
    transition: all 1s linear;
}

body, main, .letterRow, #newGame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--bg);
  color: var(--fg);
}

main {
    max-width: 60em;
}

section {
    padding: 1em 2em;
    margin-bottom: 1em;
}

button {
    font-size: min(4vw, 140%);
    min-width: 2em;
    min-height: 2em;
    text-transform: uppercase;
    margin: 0.1em;
}

#guessMe span {
    font-size: min(6vw, 140%);
    margin: 0.25em;
    min-width: 1em;
}

.letterRow {
    max-width: 100vw;
    flex-direction: row;
}

#keyboard {
  max-width: 100vw;
}

.hit {
    color: var(--fg-hit);
    background: var(--bg-hit);
}

.miss {
    color: var(--fg-miss);
    background: var(--bg-miss);
}

canvas {
    max-width: 10em;
    max-height: 15em;
}
