:root {
  --bg: #fff;
  --fg: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222;
    --fg: #ccc;
  }
}

body,
main {
  background: var(--bg);
  color: var(--fg);
}

#guessMe span {
    font-size: 140%;
    margin: 0.25em;
    min-width: 1em;
}
